button 
    font-family: 'Tangerine', cursive
    border: none
    background-color: rgba(0,0,0,0)
    width: auto
    font-size: 2em
    line-height: 1em
    position: relative
    padding: 1px 2px

    &:hover
        & ~ button
            &:after
                position: absolute
                border-bottom: 0.05em solid black
                content: ""
                top: 60%
                left: 0
                right: 0
        &:after
                position: absolute
                border-bottom: 0.05em solid black
                content: ""
                top: 60%
                left: 0
                right: 0
.line-13, .line-14
    transform: translate(3vw, .5vh)
                


